<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtlu.cpt202.cpt202Project.mapper.CommentMapper">

    <!--    List<Comment> findParentQuery(int blogId, int parentCommentId);-->
    <!--    查询某一博客下的所有父评论-->
    <select id="findParentQuery" resultType="com.xjtlu.cpt202.cpt202Project.entity.Comment">
        select *
        from CPT202.comment c
        where c.blog_id = #{blogId} and c.parent_comment_id = #{parentCommentId}
        order by c.post_time desc
    </select>

    <!--    List<Comment> findChildrenQuery(int CommentId);-->
    <!--    查询某一父评论的所有子评论-->
    <select id="findChildrenQuery" resultType="com.xjtlu.cpt202.cpt202Project.entity.Comment">
        select *
        from CPT202.comment c where
        c.parent_comment_id = #{commentId}
        order by c.post_time desc
    </select>
    <!--    Comment findById(int CommentId);-->
    <!--    根据评论Id查找某一条评论-->
    <select id="findById" resultType="com.xjtlu.cpt202.cpt202Project.entity.Comment">
        select *
        from CPT202.comment c where
            c.id = #{commentId}
        order by c.post_time desc
    </select>
    <!--    Integer getCommentCount(int blogId);-->
    <!--    统计某一博客的评论数量-->
    <select id="getCommentCount" resultType="Integer">
        select count(id)
        from CPT202.comment c where
            c.blog_id = #{blogId}
    </select>

    <!--    Integer deleteComment(int commentId);-->
    <!--    根据Id删除某一评论-->
    <delete id="deleteComment" >
        delete from comment where id = #{commentId}
    </delete>

    <!--    int deleteComment(Comment comment);-->
    <!--  数据库中添加一条评论并返回Id值到comment对象中  -->
    <insert id="insert" parameterType="com.xjtlu.cpt202.cpt202Project.entity.Comment">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID();
        </selectKey>
        insert into CPT202.comment (blog_id,content,post_time,author_id,parent_comment_id,username)
        values (#{blog_id},#{content},#{post_time},#{author_id},#{parent_comment_id},#{userName});
    </insert>

</mapper>