<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个固定的Mapper接口-->
<mapper namespace="com.xjtlu.cpt202.cpt202Project.mapper.UserMapper">

    <!--查询语句-->
    <!--    parameterType 参数类-->
    <!--    resultType  返回类-->

<!--    List<User> getUserList();-->
<!--    获取所有用户-->
    <select id="getUserList" resultType="com.xjtlu.cpt202.cpt202Project.entity.User">
        select * from CPT202.user;
    </select>


<!--    List<Integer> getUserIdList();-->
<!--    获取所有用户id列表-->
    <select id="getUserIdList" resultType="java.lang.Integer">
        select id from CPT202.user;
    </select>


    <!--    User findById(int userId);-->
    <!--    按照userid查找用户-->
    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.xjtlu.cpt202.cpt202Project.entity.User">
        select * from CPT202.user where id = #{id};
    </select>


    <!--    Object getUserId(String username);-->
    <select id="getUserId" resultType="java.lang.Object">
        select u.id from CPT202.user u where username = #{username};
    </select>


    <!--    int addUser(User u);-->
    <!--    在数据库增加新用户-->
    <insert id="addUser" parameterType="com.xjtlu.cpt202.cpt202Project.entity.User">
        insert into CPT202.user (id, username, password, email, gender,
                                 grade, major, like_blog, comment_num, fav_blog, num_fan)
        values (#{id}, #{username}, #{password}, #{email}, #{gender},
                #{grade}, #{major}, 0, 0, 0, 0);
    </insert>


    <!--    int updateUser(User u);-->
    <!--    在数据库改用户名-->
    <update id="updateUser" parameterType="com.xjtlu.cpt202.cpt202Project.entity.User">
        update CPT202.user set username=#{username}, password=#{password}, email=#{email}, gender=#{gender},
        grade=#{grade}, major=#{major}, like_blog=#{like_blog}, comment_num=#{comment_num}, fav_blog=#{fav_blog}, num_fan=#{num_fan} where id = #{id};
    </update>


    <!--    int deleteUser(User u);-->
    <!--    在数据库删除用户-->
    <delete id="deleteUser" parameterType="com.xjtlu.cpt202.cpt202Project.entity.User">
        delete from CPT202.user where id = #{id};
    </delete>


    <!--List<Integer> getThumbUpId(int id);-->
    <!--获取用户点赞过的文章id-->
    <select id="getThumbUpId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select blog_id from CPT202.user_like where user_id = #{id};
    </select>


    <!--    int addLike(int user_id, int blog_id);-->
    <!--    增加点赞记录-->
    <insert id="addLike" parameterType="java.lang.Integer">
        insert into CPT202.user_like (user_id, blog_id)
        values ( #{user_id}, #{blog_id});
    </insert>


    <!--    int cancelLike(int user_id, int blog_id);-->
    <!--    在数据库删除用户-->
    <delete id="cancelLike" parameterType="java.lang.Integer">
        delete from CPT202.user_like where user_id = #{user_id} and blog_id = #{blog_id};
     </delete>


    <!--List<Integer> getCollectId(int id);-->
    <!--获取用户收藏的文章id-->
    <select id="getCollectId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select blog_id from CPT202.user_fav where user_id = #{id};
    </select>


    <!--List<Integer> getCreateId(int id);-->
    <!--获取用户创作的文章id-->
    <select id="getCreateId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select id from CPT202.blog where author_id = #{id};
    </select>



</mapper>